footer {
    width: 100%;
    height: 500px;
    background-color: #0C0C0E;
    position: relative;
    float: left;
    margin-top: 170px;
}

.footer {
    position: absolute;
}

.media .logo-footer .social-media .social-media-icon {
    display: inline-block;
}

.media {
    float: right;
    padding-right: 154px;
    padding-top: 4px;
}

.logo-footer {
    float: left;
}

.social-media {
    color: white;
    font-size: 18px;
}

.social-media-icon {
    position: absolute;
    right: 1px;
    margin-top: -3px;
}

.text-footer {
    color: white;
    float: right;
    font-size: 15px;
    overflow-y: auto;
    height: 252px;
}

.privacy-policy {
    color: white;
    font-size: 18px;
    line-height: 36px;
}

.privacy-policy.active {
    color: white;
    font-size: 18px;
    opacity: 70%;
    padding-left: 16px;
    padding-top: 3px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    border-left: 3px solid rgba(255, 57, 1, 1) !important;
    margin-bottom: 5px;
}

.privacy-policy.active::after {

}

.decorative-rectangle-footer {
    position: relative;
    width: 3px;
    height: 30px;
    background: #FF3901;
    left: 0;
}


.main-footer {
    float: left;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.last-element {
    position: absolute;
    color: white;
    opacity: 70%;
    font-size: 14px;
    text-align: center;
    width: 100%;
    bottom: -60px;
}

.scroll-block {
    padding-left: 32px;
    padding-top: 30px;
    padding-right: 36px;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
    background-color: #101012;
}

.text-footer::-webkit-scrollbar {
    width: 4px;
    height: auto;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #141313;
}

.text-footer::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 5px;
    width: 4px;
    padding-right: 10px;
}