body {
    background-color: black;
    width: 100%;
    margin: 0;

}

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
  margin: 0;
}

.main-column {
    width: 1170px;
    left: calc(50% - 585px);
    position: absolute;
}

.text-color-white {
    color: white;
    opacity: 70%;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666667%;
}
.col-12 {
    width: 100%;
}
