body {
    background-color: black;
    width: 100%;
    margin: 0;

}

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
  margin: 0;
}

.main-column {
    width: 1170px;
    left: calc(50% - 585px);
    position: absolute;
}

.text-color-white {
    color: white;
    opacity: 70%;
}
