section {
    width: 1170px;
    left: calc(50% - 585px);
    position: relative;
    margin-top: 85px;
}

.first-page {
    position: relative;
    width: 100%;
    padding-top: 67px;
    float: left;
}

.section-content {
    float: left;
}

.background-map {
    position: absolute;
    margin-left: -135px;
    z-index: -100;
    padding-top: 29px;
}

.main-heading {
    font-size: 62px;
    color: white;
    line-height: 62px;
    text-align: left;
    width: 416px;
    height: 127px;
    top: 151px;
    left: 375px;
}

.decorative-rectangle {
    width: 15px;
    height: 127px;
    background-color: #fe4000;
    position: absolute;
    z-index: -100;
}

p.section-text-description {
    margin-top: 27px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    width: 401px;
}

.section-button {
    color: white;
    background-color: black;
    border: 1px solid #fe4000;
    border-radius: 2px;
    width: 268px;
    height: 68px;
    margin-top: 77px;
    text-align: center;
    line-height: 69px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.media-content {
    float: right;
}

.background-gif {
    position: absolute;
    margin-top: 201px;
    margin-left: 224px;
    z-index: -100;
}

.statistic-image {
    margin-left: 173px;
    position: relative;
}

.services-section {
    position: relative;
    width: 100%;
    margin-top: 273px;
    float: left;
}

.highlight-text {
    color: white;
    text-align: center;
    font-size: 34px;

}

.services-intro {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 300;
    line-height: 26px;
}

.services-intro-continued {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.services-list {
    display: flex;
    margin-top: 65px;
}

.rectangle {
    background-color: #0C0C0E;
    height: 305px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.services-icon {
    padding-top: 38px;
    padding-left: 19px;
}

.service-title {
    color: white;
    padding-top: 22px;
    padding-left: 21px;
    font-size: 24px;
}

.line {
    border-top: 2px solid #fe4000;
    padding-left: 50px;
}

.triangle-group {
    float: left;
    position: absolute;
    margin-left: 224px;

}

.triangle-group-3block {
    float: left;
    position: absolute;
    margin-left: 224px;
    margin-top: 28px;
}

.description {
    font-size: 16px;
    padding-left: 19px;
    line-height: 28px;
    text-align: left;
    margin-top: -2px;
}

.team-section {
    position: relative;
    display: inline-block;
    margin-top: 163px;
    width: 100%;
}

.team-position {
    position: relative;
    float: left;
}

.team-image {
    margin-left: -135px;
    position: absolute;
}

.page-team {
    float: right;
}

.page3 {
    position: relative;
    width: 100%;
}

.team-highlight {
    color: white;
    font-size: 34px;
    font-weight: 500;
    line-height: 34px;

}

.team-highlight-continued {
    color: white;
    font-size: 34px;
    padding-top: 13px;
    font-weight: 500;
    line-height: 34px;
}

/* todo  в дизайні зміщення вліво з мінусовим margin, тому краще залишити так*/
.line2 {
    border-top: 2px solid #fe4000;
    width: 54px;
    position: absolute;
    margin-top: 12px;
}

.team-description {
    margin-top: 83px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.number-5 {
    color: #fe4000;
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
    padding-bottom: 6px;
}

.number-150 {
    color: #fe4000;
    font-size: 100px;
    text-align: center;
    font-weight: 500;
    margin-bottom: -5px;
    margin-top: -4px;
}

.numbers {
    position: relative;
    margin-top: 46px;
}

.number5 {
    border: 1px solid #0C0C0E;
    border-radius: 2px;

}

.number5 > div {
    padding-top: 33px;
    padding-bottom: 37px;
    padding-right: 6px;
}


.number150 {
    border: 1px solid #0C0C0E;
    float: left;
}

.number150 > div {
    padding-top: 38px;
    padding-left: 18px;
    padding-bottom: 31px;
    padding-right: 16px;
}

.down-arrow {
    float: left;
    text-align: center;
    margin-top: 70px;
}

.invisible-block {
    visibility: hidden;
}

.number5-header {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.number150-header {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.label-150 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.label-5 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.text-align-center {
    text-align: center;
}

.team-intro {
    float: left;
}

.float-right {
    float: right;
}

.border-team {
    width: 170px;
    margin-right: 28px
}

.width {
    width: 270px;
}

.footer-down {
    float:left;
    margin-top: 72px;
}

.description-down {
    float:left;
    margin-top: 38px
}

.description-left {
    padding-left: 12px
}

.form-header {
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: 279px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 47px;
    position: relative;
}

.underline {
    border-top: 2px solid #fe4000;
    position: absolute;
    width: 54px;
    bottom: 35px;
    left: 476px;
}

.form-background-image {
    position: absolute;
    text-align: center;
    z-index: -100;
    margin-top: -170px;
    margin-left: -24px;
}

.form-group {
    display: flex;
    padding-left: 149px;
}

.style-form {
    background: none;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 35px;
}

.bottom {
    padding-bottom: 7px;
}

.style-form:focus {
    outline: none;
}

.style-form::placeholder {
    transform: translateY(-2px); /* Піднімає placeholder на 2px */
    color: white;
}

.style-form-message::placeholder {
    transform: translateY(-7px); /* Піднімає placeholder на 7px */
    color: white; /* Колір placeholder для наочності */
}

.margin-email {
    margin-right: 30px;
    margin-left: 30px;
}

.style-form-message {
    background: none;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    color: white;
    font-size: 20px;
    margin-top: 73px;
    padding-top: 5px;
}

.style-form-message:focus {
    outline: none;
}

.submit-btn {
    background: none;
    color: white;
    border: 1px solid #fe4000;
    border-radius: 2px;
    font-size: 20px;
    width: 270px;
    height: 70px;
    margin-top: 90px;
    float: right;
    margin-right: 148px;
}