section {
    width: 1170px;
    left: calc(50% - 585px);
    position: relative;
    margin-top: 85px;
}

.start-page {
    position: relative;
    width: 100%;
    padding-top: 67px;
    float: left;
}

.lets-start {
    float: left;
}

.lets-start-button {
    color: white;
    background-color: black;
    border: 1px solid #fe4000;
    border-radius: 2px;
    width: 268px;
    height: 68px;
    margin-top: 77px;
    text-align: center;
    line-height: 69px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.frame2 {
    float: right;
}

.main-title {
    font-size: 62px;
    color: white;
    line-height: 62px;
    text-align: left;
    width: 416px;
    height: 127px;
    top: 151px;
    left: 375px;
}

.main-title p {
    width: 415px;
    margin-left: 2px;
    font-weight: 500;
}

p.text-europe {
    margin-top: 27px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    width: 401px;
}

.decorative-rectangle {
    width: 15px;
    height: 127px;
    background-color: #fe4000;
    position: absolute;
    z-index: -100;
}

.frame-two-image {
    margin-left: 173px;
    position: relative;
}

.background-start-page {
    position: absolute;
    margin-left: -135px;
    z-index: -100;
    padding-top: 29px;
}

.background-frame2 {
    position: absolute;
    margin-top: 201px;
    margin-left: 224px;
    z-index: -100;
}

.steps {
    position: relative;
    width: 100%;
    margin-top: 273px;
    float: left;
}

.best {
    color: white;
    text-align: center;
    font-size: 34px;

}

.creat {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 300;
    line-height: 26px;
}

.creat2 {
    color: white;
    text-align: center;
    font-size: 18px;

    font-weight: 300;
    line-height: 26px;
}

.services {
    display: flex;
    margin-top: 65px;
}

.rectangle {
    background-color: #0C0C0E;
    height: 305px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.icon {
    padding-top: 38px;
    padding-left: 19px;
}

.title {
    color: white;
    padding-top: 22px;
    padding-left: 21px;
    font-size: 24px;
}

.line {
    border-top: 2px solid #fe4000;
    padding-left: 50px;
}

.triangle_group{
    float: left;
    position: absolute;
    margin-left: 224px;

}

.triangle_group3{
    float: left;
    position: absolute;
    margin-left: 224px;
    margin-top: 28px;
}

.description {
    font-size: 16px;
    padding-left: 19px;
    line-height: 28px;
    text-align: left;
    margin-top: -2px;
}

.arrow {
    float: left;
    text-align: center;
    margin-top: 70px;
}

.our-team {
    position: relative;
    display: inline-block;
    margin-top: 100px;
    width: 100%;
}

.frame5 {
    position: relative;
    float: left;
}

.background-frame5 {
    margin-left: -135px;
    position: absolute;
}

.page-team {
    float: right;
}

.page3 {
    position: relative;
    width: 100%;
}

.team {
    color: white;
    font-size: 34px;
}

.team1 {
    color: white;
    font-size: 34px;
}

.line2 {
    border-top: 2px solid #fe4000;
    padding-left: 50px;
    position: absolute;
}

.job {
    color: white;
    margin-top: 70px;
}

.border1 {
    /*width: 170px;*/
    /*height: 225px;*/
    color: #fe4000;
    font-size: 100px;
    text-align: center;
    /*line-height: 222px;*/
}

.border2 {
    /*width: 270px;*/
    /*height: 225px;*/
    color: #fe4000;
    font-size: 100px;
    text-align: center;
    /*line-height: 222px;*/
}

.numbers {
    position: relative;
    margin-top: 50px;
}

.number5 {
    border: 1px solid #0C0C0E;
    float: left;
    width: calc(100% - 15px);
}

.number150 {
    border: 1px solid #0C0C0E;
    float: left;
    width: 100%;
}

.arrow {
    float: left;
    text-align: center;
    margin-top: 70px;
}

.unvisible-block {
    visibility: hidden;
}

.were {
    color: white;
    font-size: 18px;
}

.than {
    color: white;
    font-size: 18px;
}

.project {
    color: white;
    font-size: 18px;
}

.years {
    color: white;
    font-size: 18px;
}

.text-align-center {
    text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.lets-start-text {
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: 240px;
}

.line-lets-start {
    border-top: 2px solid #fe4000;
    padding-left: 50px;
    margin-top: 5px;
}

.background-image{

}
.form-group {
    display: flex;

}

.style-form {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}

.style-form:focus {
    outline: none;
}

.margin-email {
    margin-right: 30px;
    margin-left: 30px;
}

.style-form-message{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    margin-top: 100px;
}

.style-form-message:focus {
    outline: none;
}

.submit-btn {
    background: none;
    color: white;
    border: 1px solid #fe4000;
    width: 270px;
    height: 70px;
    margin-top: 90px;
    float: right;
}